.settings
.project
.directory
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
*~
*.ipr
*.iws
*.class
*.iml
.idea/
bin/
gen/
out/
target/